<div class = "container">
  <div class = "row ml-5">
    <h2 class = "my-4 ml-5">会員情報編集</h2>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <div class="form-group">
    <%= form_with model: [:customer,@customer], url: customer_customers_path, local:true do |f| %>
      <table>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name, class: "last_name", value: @customer.last_name %></td>
          <td><%= f.text_field :first_name, class: "first_name", value: @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana, class: "last_name_kana", value: @customer.last_name_kana %></td>
          <td><%= f.text_field :first_name_kana, class: "first_name_kana", value: @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postcode, class: "postcode", value: @customer.postcode %></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, class: "address", value: @customer.address %></td>
          <td></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number, class: "phone_number", value: @customer.phone_number %></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, class: "email", value: @customer.email %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "編集内容を保存",class: 'btn btn-success' %></td>
          <td>
            <%= link_to customer_customers_confirm_path, class: 'btn btn-danger' do %>
             退会する
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
  <div class="col-2"></div>
</div>