<div class = "container">
  <div class = "row ml-5">
    <h4 class = "col-2 my-4 ml-5 text-center bg-light">商品編集</h4>
  </div>
  <div class = "row">
    <div class = "form-horizontal mx-auto">
      <%= form_with model: @item, url: admin_item_path(@item.id), local: true do |f| %>
        <div class = "form-group row">
          <%= f.label :image, "商品画像", class: "col-4" %>
          <%= f.attachment_field :image, class: "col-7 pl-0" %>
        </div>
        <div class = "form-group row">
          <%= f.label :name, "商品名", class: "col-4" %>
          <%= f.text_field :name, placeholder: "商品名", class: "col-7 pl-0" %>
        </div>
        <div class = "form-group row">
          <%= f.label :description, "商品説明", class: "col-4" %>
          <%= f.text_area :description, rows: 6, placeholder: "ここに説明文を記述します", class: "col-7 pl-0" %>
        </div>
        <div class = "form-group row">
          <%= f.label :genre_id, "ジャンル", class: "col-4" %>
          <%= f.collection_select :genre_id, @genres, :id, :name, {}, {class: "col-7 pl-0"} %>
        </div>
        <div class = "form-group row">
          <%= f.label :tax_exclude_price, "税抜価格", class: "col-4" %>
          <%= f.text_field :tax_exclude_price, placeholder: "1000", class: "col-7 pl-0" %>円
        </div>
        <div class = "form-group row">
          <%= f.label :is_active, "販売ステータス", class: "col-4" %>
          <span class = "mr-5">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, '販売中', value: true %>
          </span>
          <span>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, '販売停止中', value: false %>
          </span>
        </div>
        <div class = "form-group row">
          <%= f.submit "変更を保存", class: "btn btn-success col-4 mx-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>