<div class = "container">
  <div class = "row ml-5 d-flex justify-content-between">
    <h3 class = "my-4 ml-5"><span style="background-color:#eee">商品一覧</span></h3>
    <div class = "col-2">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle fa-3x mt-3" style="color: silver"></i>
      <% end %>
    </div>
  </div>
  <div class = "mx-auto px-5">
  <div class = "row px-5">
    <table class = "table">
      <thead class = "thead-light">
        <tr>
          <th style = "width: 10%">商品ID</th>
          <th style = "width: 28%">商品名</th>
          <th style = "width: 12%">税抜価格</th>
          <th style = "width: 35%">ジャンル</th>
          <th style = "width: 15%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.tax_exclude_price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_active %>
              <td class="text-success">販売中</td>
            <% else %>
              <td class="text-secondary">販売停止中</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <div class = "row">
    <div class = "mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>