<div class="container">
  <div class="row ml-5">
    <h3 class = "my-4 ml-5"><span style="background-color:#eee">注文情報確認</span></h3>
  </div>
  <div class="row">
    <div class="col-8">
      <%= form_with model: @order,url: customer_orders_path, method: :post, local: true do |f| %>
        <table class="table">
          <thead>
            <tr style="background-color:#eee">
              <th class="border">商品名</th>
              <th class="border">単価（税込）</th>
              <th class="border">数量</th>
              <th class="border">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td class="border">
                  <%= attachment_image_tag cart_item.item,:image, fallback: "no-image.png", size:"40x40", class:"attachment user profile_image fallback" %>
                  <%= cart_item.item.name %>
                </td>
                <td class="border"><%= (cart_item.item.tax_exclude_price * 1.1).to_i %></td>
                <td class="border"><%= cart_item.amount %></td>
                <td class="border"><%= cart_item.subtotal.to_i %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <table class="table">
          <tbody>
            <tr>
              <td style="background-color:#eee">送料</td>
              <td class="border">800</td>
            </tr>
            <tr>
              <td style="background-color:#eee">商品合計</td>
                <% @sum = 0 %>
                <% @cart_items.each do |cart_item| %>
                <% @sum += cart_item.subtotal%>
                <% end %>
              <td class="border"><%= @sum.to_i %></td>
            </tr>
            <tr>
              <td style="background-color:#eee">請求金額</td>
              <td class="border"><%= 800 + @sum.to_i %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <th>支払い方法</th>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <th>お届け先</th>
            <td><%= @order.postcode %><%= @order.address %><br/><%= @order.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= f.hidden_field :shipping_price, :value => 800 %>
    <%= f.hidden_field :billing, :value => (@sum + 800).floor %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :postcode, :value => @order.postcode %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <div class="text-center"><%= f.submit "注文を確定する", class: 'btn btn-success' %></div>
  <% end %>
</div>
