<div class="container">
  <div class="row ml-5">
    <h3 class = "my-4 ml-5"><span style="background-color:#eee">注文履歴</span></h3>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr style="background-color:#eee">
          <th class="border">注文日</th>
          <th class="border">配送先</th>
          <th class="border">注文商品</th>
          <th class="border">支払金額</th>
          <th class="border">ステータス</th>
          <th class="border">注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr class="border">
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
    　　　<td class="border"><%= order.postcode %><br/><%= order.address %><br/><%= order.name %><br/></td>
          <td class="border">
            <% order.items.each do |item| %>
            <%= item.name %><br />
            <% end %>
          </td>
          <td class="border"><%= order.billing.to_s(:delimited) %></td>
          <td class="border"><%= order.status %></td>
          <td class="border">
            <%= link_to customer_order_path(order), class: 'btn btn-primary' do  %>
              表示する
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

