<%= form_with model: [:admin,@customer], local:true do |f| %>

  <div class="field">
    <%= f.label :last_name, "(姓)" %><br />
    <%= f.text_field :last_name, class: "name", value: @customer.last_name %>
    <%= f.label :first_name, "(名)" %><br />
    <%= f.text_field :first_name, autofocus: true, class: "name", value: @customer.first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name_kana, "(セイ)" %><br />
    <%= f.text_field :last_name_kana, autofocus: true, class: "name", value: @customer.last_name_kana %>
    <%= f.label :first_name_kana, "(メイ)" %><br />
    <%= f.text_field :first_name_kana, autofocus: true, class: "name", value: @customer.first_name_kana %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "email", value: @customer.email %>
  </div>
  <div class="field">
    <%= f.label :postcode, "郵便番号" %><br />
    <%= f.text_field :postcode, autocomplete: "postcode", class: "form_control", value: @customer.postcode %>
  </div>
  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address, autocomplete: "prefecture", class: "form_control", value: @customer.address %>
  </div>
  <div class="field">
    <%= f.label :phone_number, "電話番号" %><br />
    <%= f.text_field :phone_number, autofocus: true, class: "name", value: @customer.phone_number %>
  </div>
  <div class="field">
    <%= f.label :is_deleted, "有効" %>
    <%= f.radio_button :is_deleted, :false %>
    <%= f.label :is_deleted, "無効" %>
    <%= f.radio_button :is_deleted, :true %>
  </div>
  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>