<div class="container">
  <div class="row ml-5">
    <h3 class = "my-4 ml-5 bg-light"><span style="background-color: #eeeeee;"><%= @customer.full_name %>さんの会員情報</span></h3>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-7">
      <%= form_with model: [:admin,@customer], local:true do |f| %>
    <table class="table table-borderless">
    <div class="field">
     <tr>
      <td><%= f.label :last_name, "氏名" %></td>
      <td><%= f.text_field :last_name, class: "name rounded", value: @customer.last_name %></td>
      <td><%= f.text_field :first_name, autofocus: true, class: "name rounded", value: @customer.first_name %></td>
     </tr>
    </div>
    <div class="field">
     <tr>
      <td><%= f.label :last_name, "フリガナ" %></td>
      <td><%= f.text_field :last_name_kana, autofocus: true, class: "name rounded", value: @customer.last_name_kana %></td>
      <td><%= f.text_field :first_name_kana, autofocus: true, class: "name rounded", value: @customer.first_name_kana %></td>
     </tr>
    </div>
    <div class="field">
     <tr>
      <td><%= f.label :postcode, "郵便番号" %></td>
      <td><%= f.text_field :postcode, autocomplete: "postcode", class: "form_control rounded", value: @customer.postcode %></td>
     </tr>
    </div>
    <div class="field">
     <tr>
      <td><%= f.label :address, "住所" %></td>
      <td><%= f.text_field :address, autocomplete: "prefecture", class: "form_control rounded", value: @customer.address %></td>
     </tr>
    </div>
    <div class="field">
     <tr>
      <td><%= f.label :phone_number, "電話番号" %></td>
      <td><%= f.text_field :phone_number, autofocus: true, class: "name rounded", value: @customer.phone_number %></td>
     </tr>
    </div>
    <div class="field">
     <tr>
      <td><%= f.label :phone_number, "会員ステータス" %></td>
      <td><%= f.radio_button :is_deleted, :false %><%= f.label :is_deleted, "有効" %><%= f.radio_button :is_deleted, :true %><%= f.label :is_deleted, "無効" %></td>
     </tr>
    </div>
    <div class="field">
     <tr>
      <td><%= f.label :email, "メールアドレス" %></td>
      <td><%= f.email_field :email, autofocus: true, class: "email rounded", value: @customer.email %></td>
     </tr>
    </div>
    <div></div>
    <div class="actions field">
      <tr>
        <td></td>
        <td><%= f.submit "変更を保存", class: "btn-success rounded my-3 py-3 px-4" %></td>
      </tr>

    </div>
  </table>
  <% end %>
  </div>
  <div class="col-4"></div>
  </div>
</div>

