<div class="container">
  <div class="row ml-5">
    <h3 class = "my-4 ml-5 bg-light"><span style="background-color: #eeeeee;">注文履歴詳細</span></h3>
  </div>
  <div class="row d-flex mx-auto">
    <div class="col-10 pl-5">
      <div class="col-8"><table class="table table-borderless">
       <tbody>
         <tr>
           <td>購入者</td>
           <td>
             <%= link_to admin_customer_path(@order.customer_id) do %>
             <%= @order.customer.last_name %><%= @order.customer.first_name %>
             <% end %>
            </td>
         </tr>
         <tr>
           <td>注文日</td>
           <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
         </tr>
         <tr>
           <td>配送先</td>
            <td>〒<%= @order.postcode %><%= @order.address %><%= @order.name %></td>
         </tr>
          <tr>
           <td>支払い方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
           <td>注文ステータス</td>
           <td>
             <%= form_with model: [:admin, @order], local: true do |f| %>
              <%= f.select :status, Order.statuses.keys, {prompt: "選択してください"} %>
              <%= f.submit '更新',class: "btn btn-success"%>
              <% end %>
            </td>
            <td>
              <% if @order.status == "発送済み" %>
               <i class="fas fa-shipping-fast"></i>
              <% end %>
            </td>
          </tr>
       </tbody>
     </table></div>
      <div class="col-4"></div>
      <div class="row">
       <div class="col-8">
        <table class="table table-hover">
  　　  　<thead>
    　   <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col">製作ステータス</th>
   　    </tr>
        </thead>
  　　    <tbody>
  　　    <% @order_items.each do |order_item| %>
          <tr>
            <th><%= order_item.item.name %></th>
            <td><%= ((order_item.tax_included_price * 1.1 ).floor).to_s(:delimited) %></td>
            <td><%= order_item.amount %></td>
            <td><%= order_item.subtotal.to_s(:delimited) %>円</td>
            <td class="form-group">
              <%= form_with model: [:admin, order_item], local: true do |f| %>
                <%= f.select :production_status, OrderItem.production_statuses.keys, {prompt: "選択してください"} %>
                <%= f.submit '更新',class: "btn btn-success"%>
              <% end %>
            </td>
            <td>
              <% if order_item.production_status == "製作完了" %>
               <div><i class="fas fa-mitten"></i></div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
　　　  </table>
      </div>
      <div class="col-4 d-flex align-items-end justify-content-center">
         <table>
           <tbody>
         <tr>
           <th>商品合計</td>
            <% @sum = 0 %>
            <% @order.order_items.each do |order_item| %>
               <% @sum += order_item.subtotal %>
             <% end %>
          <td class="pl-4"><%= @sum.to_s(:delimited) %>円</td>
         </tr>
         <tr class="my-5 pt-3 mb-3 mx-2">
           <th>送料</td>
           <td class="pl-4"><%= @order.shipping_price.to_s(:delimited) %>円</td>
         </tr>
         <tr>
           <th>請求金額合計</th>
           <th class="pl-4"><%= @order.billing.to_s(:delimited) %>円</th>
         </tr>
         </tbody>
         </table>
      </div>
     </div>
    </div>
  </div>
</div>