<div class="container">
  <div class="row">
    <h2>配送先編集</h2>
  </div>
  <div class"row">
    <%= form_with model: [:customer, @address], local: true do |f| %>
      <div class = "form-group col">
        <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postcode, placeholder: "0000000" %>
      </div>
      <div class = "form-group col">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "東京都渋⾕区代々⽊神園町0-0" %>
      </div>
      <div class = "form-group col">
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name, placeholder: "令和道⼦" %>
      </div>
        <%= f.submit "変更内容を保存", class: "btn btn-success" %>
    <% end %>
  </div>
</div>